* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #14003b;
}

.Changenow {
  margin: 15px 30px;
  display: flex;
}

.transact {
  background-color: #190146;
  margin: 10px 30px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  max-width: 650px;
}

/* li {
  display: inline-block;
  font-size: 20px;
} */

ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  /* background: #14003b; */
  margin: 0;
  padding: 0;
  /* background: #190146; */
}
li {
  display: block;
  flex: 1 1 auto;
  list-style-type: none;
  background-color: #120035;
  justify-content: center;
}

.line-1 {
  padding: 1px;
  background-color: #fff;
}
.line-2 {
  padding: 1px;
  background-color: #fff;
}
.line-3 {
  padding: 1px;
  background-color: #fff;
}

footer {
  background-color: #100030;
  height: 45px;
  width: 100%;
  text-align: start;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}

.footer-imgs img {
  height: 30px;
}

.footer-imgs {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-imgs a {
  cursor: pointer;
}
*/ .footer {
  background: #303036;
  color: #d3d3d3;
  height: -20px;
  position: relative;
  margin-top: 20px;
  clear: both;
}

.footer h1 {
  margin-left: 30px;
  font-size: 25px;
  color: #fff;
}
.footer-content {
  height: 150px;
  display: flex;
  margin: 10px 30px 0px 30px;
  overflow: auto;
}

.footer .footer-content .footer-section {
  flex: 1;
}

.footer .footer-content .footer-section {
  font-size: 13px;
}

.footer .footer-content .about {
  background-color: #120035;
}
.footer .footer-content .links {
  background-color: #120035;
}
.footer .footer-content .contact-form {
  background-color: #120035;
}
.footer .footer-content .date {
  background-color: #120035;
}
.footer .footer-content .about ul {
  display: inline-block;
  color: #fff;
  padding-top: 16px;
  line-height: 25px;
  font-size: 15px;
}

.footer .footer-content .links ul {
  display: inline-block;
  color: #fff;
  padding-top: 0px;
  line-height: 25px;
  font-size: 12px;
}

.footer .footer-content .links h2 {
  text-align: start;
}

.footer .footer-content .contact-form ul {
  display: inline-block;
  color: #fff;
  padding-top: 0px;
  line-height: 25px;
  font-size: 15px;
}

.footer .footer-content .date ul {
  display: inline-block;
  color: #fff;
  padding-top: 0px;
  line-height: 25px;
  font-size: 15px;
}

@media only screen and (max-width: 499px) {
  .footer .footer-content .about ul {
    display: none;
  }
  .footer .footer-content .about h2 {
    display: none;
  }
  .footer-content {
    justify-content: space-around;
  }
  .footer .footer-content .footer-section {
    flex: 1 1 auto;
  }
}
