@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #14003b;
}

.pre-footer {
    background-color: #14003b;
    height: 60vh;
    margin: 10px;
    overflow: auto;
}

.hdtg {
    justify-content: start;
    display: flex;
    margin-left: -80px;
}

.hdtg span {
    color: purple;
}

.hdtg img {
    height: 200px;
    width: 200px;
    margin-top: -50px;
    margin-left: 30px;
}

.hdtg h1 {
    font-size: 35px;
    color: #fff;
    margin-left: -60px;
    padding-top: 30px;
}

.secbody h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    margin-left: 10px;
    margin-top: -50px;
    font-family: 'Archivo', sans-serif;
}

.rating {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
}

.rating-img {
    float: right;
    margin-right: 15px;
    margin-top: -20px;
}

footer {
    background-color: #14003b;
    height: 45px;
    width: 100%;
    text-align: start;
    position: absolute;
    bottom: -30px;
    left: 0px;
    padding-top: 10px;
}

.footer-imgs img {
    height: 30px;
}

.footer-imgs {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-imgs a {
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .rating-img {
        float: none;
    }
}